<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A minimalistic vanilla chat app made in Node.js" />
  <meta name="robots" content="follow, index" />
  <meta name="author" content="PxLine Team" />
  <meta name="theme-color" content="#7A2FFF" />
  <meta name="keywords" content="chat app, nodejs chat app" />
  <meta property="og:site_name" content="PxLine" />
  <meta property="og:image" content="/assets/preview-logo.jpg" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta property="og:locale" content="en_US" />
  <title>PxLine</title>
  <link rel="icon" href="/assets/logo.jpg" type="image/x-icon" />
  <link rel="stylesheet" href="/css/style.css" />
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/toast.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js" integrity="sha512-4F1cxYdMiAW98oomSLaygEwmCnIP38pb4Kx70yQYqRwLVCs3DbRumfBq82T08g/4LJ/smbFGFpmeFlQgoDccgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <div class="toast-container"></div>
  <div class="container">
    <header>
      <p class="logo">Chats</p>
      <div class="action">
        <a href="#"><i class="material-symbols-outlined">search</i></a>
      </div>
    </header>
    <div class="underline"></div>
    <div class="tabs">
      <input id="chats" type="radio" name="group" checked>
      <input id="friends" type="radio" name="group">
      <input id="settings" type="radio" name="group">
      <div class="quickBtn">
        <div class="btn message" onclick="location.href='#'"><i class="material-symbols-outlined">add</i></div>
        <div class="btn group" onclick="location.href='#'"><i class="material-symbols-outlined">person_add</i></div>
      </div>
      <div class="nav">
        <div class="nav-content">
          <div class="nav-list">
            <a class="link-item active">
              <label for="chats"><i class="material-symbols-outlined link-icon">forum</i></label>
              <span class="link-text">Chats</span>
            </a>
          </div>
          <div class="nav-list">
            <a class="link-item">
              <label for="friends"><i class="material-symbols-outlined link-icon">group</i></label>
              <span class="link-text">Friends</span>
            </a>
          </div>
          <div class="nav-list">
            <a class="link-item">
              <label for="settings"><i class="material-symbols-outlined link-icon">tune</i></label>
              <span class="link-text">Settings</span>
            </a>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="box chats">
          <div class="data">
            <div class="chatlist"></div>
          </div>
        </div>
        <div class="box friends">
          <div class="friends-container"></div>
        </div>
        <div class="box settings">
          <!-- Profile Section -->
          <div class="profile-card">
            <div class="image">
              <img src="<%=user.image%>" alt="My image" class="profile-img">
            </div>
            <div class="text-data">
              <span class="name"><%=user.display_name%></span>
              <span class="user_id"><%=user.user_name%></span>
            </div>
            <!-- Buttons -->
            <div class="buttons">
              <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btn1">Logout</button>
              </form>

              <form action="/delete?_method=DELETE" method="POST">
                <button type="submit" class="btn2">Delete Account</button></a>
              </form>
            </div>
            <span id="line"></span>
            <!-- Description -->
            <div class="about">
              <p class="abt-text">
                <a href="">Developer Info</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/scripts/chat-ui.js"></script>
    <script src="/scripts/home.js"></script>
    <script>
      let messages = <%-JSON.stringify(messages)%>;
      async function initIndexes() {
        try {
          const response = await fetch('/source/indexes', {
            method: 'GET'
          });
          if (response.ok) {
            const data = await response.json();
            const { extrooms, extusers, user, friends, lastMessages } = data;
            localStorage.setItem('lastMessages', JSON.stringify(lastMessages));
            function getLastFor(chatId) {
              return lastMessages.find(chat => chat.lastFor == chatId) || {};
            }
            initTiles(extrooms, extusers, user);
            const title = document.querySelector('.logo');
            const navLinks = document.querySelectorAll('.nav-list .link-item');
            navLinks.forEach(link => {
              link.addEventListener('click', function (event) {
                const pageName = this.querySelector('.link-text').textContent;
                title.textContent = pageName;
              });
            });
            const chatTiles = document.querySelectorAll('.block');
            chatTiles.forEach(tile => {
              tile.addEventListener('click', function () {
                const id = tile.getAttribute('data-id');
                  window.location.href = `/chat?id=${id}`;
              });
            });
          }
        } catch (e) {
          console.error(e);
        }
      }
      document.addEventListener('DOMContentLoaded', () => {
        initIndexes();
      });
    </script>
    <script src="/scripts/main.js"></script>
</body>

</html>
