<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Invite Page</title>
  <!-- Custom Styles -->
  <link rel="stylesheet" href="./css/invite.css">
</head>

<body>
<div class="invite-container">
    <div class="invite-card">
      <img src="https://media.discordapp.net/attachments/1025788277120315492/1223002295466463292/download_2.jpg?ex=6626c525&is=662573a5&hm=1b62e94fa176b85b04c9c500a790cc67d8d7993ebc4c878d23d0a6c47a574d4f&" alt="OwO Bot Support">
      <p>You've been invited to join</p>
      <h1>The Dalles</h1>
      <p class="total-members">2 Members</p>
      <div class="buttons">
        <button class="accept-btn">Accept Invite</button>
        <button class="no-thanks-btn">No Thanks</button>
      </div>
    </div>
  </div>
</body>
</html>
