<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="PxLine sign in!">
  <meta name="robots" content="nofollow, noindex">
  <meta name="author" content="PxLine Team">
  <meta name="keywords" content="chat app, nodejs chat app">
  <meta name="theme-color" content="#7A2FFF">
  <meta property="og:site_name" content="PxLine">
  <meta property="og:image" content="/assets/preview-logo.jpg">
  <meta property="og:image:width" content="300">
  <meta property="og:image:height" content="300">
  <meta property="og:locale" content="en_US">
  <title>PxLine - Sign In</title>
  <link rel="icon" href="/assets/logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/css/signup.css">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/toast.css">
</head>
<body>
  <div class="toast-container"></div>
  <div class="hero-container">
    <div class="register-container">
    <h1>Sign in</h1>
    <form action="/login" method="POST">
      <div class="form-group">
        <div class="input-icon"><i class="bx bx-user"></i></div>
        <input type="username" id="email" name="username" placeholder="Enter username" required>
      </div>
      <div class="form-group">
        <div class="input-icon"><i class="bx bxs-lock-alt"></i></div>
        <input type="password" id="password" name="password" placeholder="Enter password" required>
      </div>
      <button type="submit">Sign In</button>
      <p>Don't have an account? <a href="/signup">Register</a></p>
    </form>
  </div>
  </div>
  <script>
    const messages = <%-JSON.stringify(messages)%>;
  </script> 
  <script src="/scripts/main.js"></script>
</body>
</html>
