<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Register to PxLine Chats!">
  <meta name="robots" content="nofollow, noindex">
  <meta name="author" content="PxLine Team">
  <meta name="keywords" content="chat app, nodejs chat app">
  <meta name="theme-color" content="#7A2FFF">
  <meta property="og:site_name" content="PxLine">
  <meta property="og:image" content="/assets/preview-logo.jpg">
  <meta property="og:image:width" content="300">
  <meta property="og:image:height" content="300">
  <meta property="og:locale" content="en_US">
  <title>PxLine - Register</title>
  <link rel="icon" href="/assets/logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/css/signup.css">
  <link rel="stylesheet" href="/css/extpages.css">
  <link rel="stylesheet" href="/css/toast.css">
</head>
<body>
  <div class="toast-container"></div>
  <nav>
    <h1 class="logo">PxLine</h1>
  </nav>
  <div class="toast-container"></div>
  <div class="hero-container">
    <div class="register-container">
    <form action="/signup" method="POST">
      <h2>Register</h2>
      <img id="profilePicPreview" src="https://media.discordapp.net/attachments/1025788277120315492/1224416622731595938/1711993532064.png?ex=661d69d7&is=660af4d7&hm=76557fbfc2b73b172dc65346be7a218bcfab59402f7d2d7cc96bc3f878b1ea23&" alt="Profile picture icon" />
      <input type="file" id="profilePictureInput" name="image" style="display: none;" accept="image/*">
      <div class="form-group">
        <input type="text" id="displayName" name="display_name" placeholder="Display name">
      </div>
      <div class="form-group">
        <input type="text" id="username" name="username" placeholder="Create username" required>
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" placeholder="Create password" required>
      </div>
      <button type="submit">Register</button>
      <p>Already have an account? <a href="/login">Login</a></p>
    </form>
  </div>
  </div>
  <script src="/scripts/main.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const profilePicIcon = document.getElementById('profilePicPreview');
      const profilePictureInput = document.getElementById('profilePictureInput');
      profilePicIcon.addEventListener('click', () => {
        profilePictureInput.click();
    });

    profilePictureInput.addEventListener('change', (event) => {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
        profilePicIcon.src = e.target.result;
      }
      reader.readAsDataURL(file);
    }
   });
 });
  </script>
</body>
</html>