<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Register to PxLine Chats!">
  <meta name="robots" content="nofollow, noindex">
  <meta name="author" content="PxLine Team">
  <meta name="keywords" content="chat app, nodejs chat app">
  <meta name="theme-color" content="#7A2FFF">
  <meta property="og:site_name" content="PxLine">
  <meta property="og:image" content="/assets/preview-logo.jpg">
  <meta property="og:image:width" content="300">
  <meta property="og:image:height" content="300">
  <meta property="og:locale" content="en_US">
  <title>PxLine - Register</title>
  <link rel="icon" href="/public/assets/logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="/public/css/signup.css">
  <link rel="stylesheet" href="/public/css/toast.css">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body scroll="no">
  <div class="toast-container"></div>
  <div class="hero-container">
    <div class="register-container">
      <h1>Register</h1>
      <form action="/signup" method="POST" enctype="multipart/form-data">
        <img id="profilePicPreview" src="/assets/profile-pic.png" alt="Profile picture icon" />
        <input type="file" id="profilePictureInput" name="image" style="display: none;" accept="image/*">
        <div class="form-group">
          <div class="input-icon"><i class='bx bx-edit'></i></div>
          <input type="text" id="displayName" name="display_name" placeholder="Display name">
        </div>
        <div class="form-group">
          <div class="input-icon"><i class="bx bx-user"></i></div>
          <input type="text" id="username" name="username" placeholder="Create username" required>
        </div>
        <div class="form-group">
          <div class="input-icon"><i class="bx bxs-lock-alt"></i></div>
          <input type="password" id="password" name="password" placeholder="Create password" required>
        </div>
        <button type="submit">Register</button>
        <p>Already have an account? <a href="/login">Login</a></p>
      </form>
    </div>
  </div>
  <script>
    let messages = <% -JSON.stringify(messages) %>;
    document.addEventListener('DOMContentLoaded', () => {
      const profilePicIcon = document.getElementById('profilePicPreview');
      const profilePictureInput = document.getElementById('profilePictureInput');
      profilePicIcon.addEventListener('click', () => {
        profilePictureInput.click();
      });

      profilePictureInput.addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            profilePicIcon.src = e.target.result;
          }
          reader.readAsDataURL(file);
        }
      });
    });
  </script>
  <script src="/public/scripts/main.js"></script>
</body>

</html>