@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

:root {
  --primary: #202124;
  --secondary: #262626;
  --main: rgb(171, 0, 160);
  --text-color: #fff;
  --hover: #131313;
  --gray: #949494;
  --unread: #aea9a9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--secondary);
}

.chat-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-image: url("/assets/chat-bg.jpg"), radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  background-size: cover;
  overflow: hidden;
}

.chat-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4076f4;
  opacity: 0.05;
}

.chat-header {
  position: relative;
  width: 100%;
  padding: 10px;
  background: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.5px;
}

.message-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 23px;
  padding: 10px;
}

.message-options i {
  cursor: pointer;
}

.close-icon {
  margin-right: auto;
}

.options {
  margin-left: 155px;
  display: flex;
  justify-content: flex-end;
}

.options i {
  margin-left: 25px;
}

.delete-icon {
  color: red;
}

.chat-header .imgcontent {
  display: flex;
  align-items: center;
  gap: 5px;
}

.chat-header .imgcontent i {
  color: var(--text-color);
  cursor: pointer;
  font-size: 1.25em;
  transition: 0.2s;
  padding: 4px;
  -webkit-tap-highlight-color: none;
}

.chat-header i:active {
  background: #aaaaaacc;
  border-radius: 50px;
}
.chat-header i:hover {
  background: #aaaaaa34;
  border-radius: 50px;
}

.chat-header .imgcontent .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.chat-header .imgcontent .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-header .imgcontent h3 {
  color: var(--text-color);
  font-size: 1em;
  font-weight: 500;
  line-height: 1.1em;
  width: 161px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-container {
  position: relative;
  height: 81.9%;
  overflow-y: scroll;
}

.message-container .time {
  color: var(--gray);
  text-align: center;
  font-size: 13px;
}

.message-container .message {
  position: relative;
  display: flex;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0px;
  width: 100%;
  animation: slideFromLeft 0.2s ease forwards;
}

.message-container .message:active {
  background: #7a7a7aad;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.message .profile_pic {
  position: relative;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}

.message a {
  text-decoration: none;
  color: #fff;
}

.message img {
  position: absolute;
  top: 0;
  left: 0;
  width: 43px;
  height: 43px;
  object-fit: cover;
}

.message .message_content {
  flex: 1;
}

.message_content .msg {
  max-width: 450px;
  word-wrap: break-word;
  font-size: 0.85em;
}

.message_content .sender {
  font-size: 1em;
  font-weight: 500;
}

.message_content .timestamp {
  font-size: 0.7em;
  color: #aaa;
}

.message_content .img-attachment {
  position: relative;
  border-radius: 5px;
  width: 250px;
  height: 280px;
  max-height: 340px;
  margin: 3px;
}

.message_content .typing-asset {
  position: absolute;
  margin: 22px 8px;
  width: 160px;
  filter: grayscale(50%);
}

.messageInput {
  position: absolute;
  bottom: 1px;
  left: 0px;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messageInput > i {
  position: absolute;
  left: 0px;
  cursor: pointer;
  font-size: 2em;
  color: #fff;
  padding: 9px;
  margin-right: 20px;
}

.messageInput > i:active {
  background: var(--gray);
  border-radius: 60px;
}

.messageInput .input {
  position: relative;
  background-color: var(--secondary);
  padding: 7px 18px;
  width: 270px;
  display: flex;
  text-align: center;
  border-radius: 40px;
  margin-left: 45px;
}

.messageInput .input textarea {
  position: relative;
  border: none;
  width: 92%;
  height: 27.9px;
  top: 3%;
  outline: none;
  font-size: 1em;
  text-align: start;
  resize: none;
  overflow-y: scroll;
  background-color: var(--secondary);
  color: #fff;
}

.messageInput .input textarea::-webkit-scrollbar {
  display: none;
}

.send {
  position: relative;
  margin-left: 7.5px;
  width: 40px;
  height: 40px;
  display: flex;
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.4em;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent;
}

.send:hover {
  background: var(--main);
  color: #fff;
  border: none;
}

.message-container::-webkit-scrollbar {
  width: 7px;
}

.message-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #aaa;
}

@media screen and (min-width: 1024px) {
  .message-container {
    height: 85%; /* Increased height by 100px */
  }
  .messageInput .input {
    width: 1655px;
  }
  .send {
    display: none;
  }
  .hamburger-menu .menu {
    width: 30px;
  }
}

@media screen and (min-height: 900px) {
  .message-container {
    height: 86.5%; /* Increased height by 100px */
  }
  .messageInput .input {
    width: 325px;
  }
}
