:root {
  --primary: #202124;
  --secondary: #262626;
  --text-color: #FFF;
  --hover: #131313;
  --gray: #949494;
  --unread: #aea9a9;
}

.menu-container {
  position: relative;
  display: inline-block;
}

.options-container {
  position: relative;
  display: flex;
  color: white;
  font-size: 1.5em;
  transition: 0.2s;
}

.hamburger-menu {
  cursor: pointer;
  padding: 10px;
}

.menu {
  display: none;
  position: absolute;
  top: 51px;
  right: 9px;
  width: 45vw;
  background-color: var(--primary);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  z-index: 1;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.menu a i {
  align-items: center;
  font-size: 1.3em;
  vertical-align: middle;
}

.menu a:hover {
  background-color: #333;
}

.menu.show {
  display: block;
  max-height: 300px;
  /* Adjust this value based on your content */
  transition: max-height 0.3s ease-in;
}

@media screen and (min-width: 1024px) {
  .menu {
    width: 250px;
  }
}