@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('/public/assets/img.jpeg');
  background-size: cover;
}

.invite-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.invite-card {
  background-color: #262626;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 95%;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  animation: pop 0.3s ease-out;
}

@keyframes pop {
  0% {
    transform: scale(0.92);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.invite-card img {
  width: 135px;
  height: auto;
  border-radius: 75px;
  margin-bottom: 10px;
}

.invite-card h1 {
  color: #fff;
}

.invite-card p {
  color: grey;
  font-size: 13.5px;
}

.total-members {
  color: #666;
}

.accept-btn,
.no-thanks-btn {
  width: 100%;
  height: 39px;
  position: relative;
  border-radius: 5px;
  border: none;
  top: 20px;
  margin-bottom: 5px;
  background: none;
  cursor: pointer;
  display: block;
  text-align: center;
  justify-items: center;
  transition: 0.2s ease;
  font-size: 15.5px;
  font-weight: 400;
  color: #fff;
}

.accept-btn {
  background-color: #27B9C7;
}

.no-thanks-btn:hover {
  background-color: #E80050;
}
