.toast-container {
  position: fixed;
  bottom: 30px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse; /* Reverse the order for bottom-up animation */
  overflow: hidden;
  padding: 20px;
  z-index: 1;
}

.toast {
  position: relative;
  width: 215px;
  border-radius: 7.5px;
  height: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 15px;
  animation: slideUp 0.3s ease forwards; /* Adjust animation timing function */
}

@keyframes slideUp {
  0% {
    transform: translateY(95%); /* Start from bottom */
  }
  100% {
    transform: translateY(0%); /* Slide up to defined position */
  }
}