<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A minimalistic vanilla chat app made in Node.js">
  <meta name="robots" content="follow, index">
  <meta name="author" content="PxLine Team">
  <meta name="theme-color" content="#7A2FFF">
  <meta name="keywords" content="chat app, nodejs chat app">
  <meta property="og:site_name" content="PxLine">
  <meta property="og:image" content="/assets/preview-logo.jpg">
  <meta property="og:image:width" content="300">
  <meta property="og:image:height" content="300">
  <meta property="og:locale" content="en_US">
  <title>PxLine — Chat</title>
  <link rel="icon" href="/assets/logo.jpg" type="image/x-icon">
  <link rel="stylesheet" href="chat.css" type="text/css">
  <script src="https://kit.fontawesome.com/c0b785182d.js" crossorigin="anonymous"></script>
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="chat-container">
      <div class="chat-header">
        <div class="imgcontent">
          <i class="fa-solid fa-arrow-left"></i>
          <div class="imgBx">
            <img src="https://placehold.co/200x200.png">
          </div>
          <h3>The Dalles</h3>
          <i class="fa-solid fa-magnifying-glass search"></i>
        </div>
      </div>
      <!-- Message -->
      <div class="message-container">
        <div class="time">Today 5:31 AM</div>
        <div class="message">
          <img class="profile_pic" src="https://placehold.co/200x200.png">
          <div class="message_content">
            <div class="sender">Rajat Dalal</div>
            <div class="msg">Aaj yash ki hogi dhulai</div>
          </div>
        </div>
        <div class="message">
          <img class="profile_pic" src="https://placehold.co/200x200.png">
          <div class="message_content">
            <div class="sender">Deepak</div>
            <div class="msg">Thek</div>
          </div>
        </div>
        <div class="time">Today 10:09 PM</div>
        <div class="message">
          <img class="profile_pic" src="https://placehold.co/200x200.png">
          <div class="message_content">
            <div class="sender">Mahesh Dalle</div>
            <div class="msg">Aaj yash ki hogi dhulai</div>
          </div>
        </div>
        <div class="message">
          <img class="profile_pic" src="https://placehold.co/200x200.png">
          <div class="message_content">
            <div class="sender">Ray</div>
            <div class="msg">Uska muh mein de denge</div>
          </div>
        </div>
        <div class="message">
          <img class="profile_pic" src="https://placehold.co/200x200.png">
          <div class="message_content">
            <div class="sender">Rajat Dalal</div>
            <div class="msg">Aaj yash ki hogi dhulai</div>
          </div>
        </div>
        <div class="message">
          <img class="profile_pic" src="https://placehold.co/200x200.png">
          <div class="message_content">
            <div class="sender">Deepak</div>
            <div class="msg">Thek</div>
          </div>
        </div>
        <div class="message">
          <img class="profile_pic" src="https://placehold.co/200x200.png">
          <div class="message_content">
            <div class="sender">Rajat Dalal</div>
            <div class="msg">Muth marna chhodo</div>
          </div>
        </div>
        <div class="message">
          <img class="profile_pic" src="https://placehold.co/200x200.png">
          <div class="message_content">
            <div class="sender">Deepak</div>
            <div class="msg">kisko chodo?</div>
          </div>
        </div>
        <div class="time">Today 9:25 AM</div>
        <div class="message">
          <img class="profile_pic" src="https://placehold.co/200x200.png">
          <div class="message_content">
            <div class="sender">Ray</div>
            <div class="msg">chhor* bol raha</div>
          </div>
        </div>
        <!-- Input -->
      </div>
      <div class="messageInput">
          <div class="input">
            <i class='bx bx-image-add'></i>
            <input type="text" placeholder="Message">
          </div>
          <div class="send"><i class='bx bx-send'></i></div>
        </div>
    </div>
</div>
</body>
</html>
